.App,
footer {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}

nav {
  padding: 1% 0;
}

nav {
  background-color: #0f4c75;
  width: 100%;
  z-index: 3;
}

nav h1 {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 1.85rem;
    color: #bbe1fa;
}

.App-landing {
    background: #eee;
}

.App-folders {
  display: flex;
  flex: 0 1 25vw;
  height: 50vh;
  justify-content: left;
  align-items: inherit;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.App-folders ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.folder-name {
  color: #3282b8;
  font-size: 1.6rem;
  padding: 5px 0 0;
}

.folder-name:hover {
background-color: #f4f4f4;
color: #1b262c;
}

.folder-btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  color:#f4f4f4;
  text-decoration: none;
  background-color: #0c7b93;
  transition: background 500ms ease;
  font-size:1.2rem;
  font-weight:700;
}

.folder-btn:hover {
  background-color: #f4f4f4;
  color: #0c7b93;
}

.App-notes {
  display: flex;
  flex: 0 1 25vw;
  height: 50vh;
  justify-content: left;
  align-items: inherit;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.App-note {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid; 
  display: inline-block;
  height: 30vh;
  opacity: .7;
}

.note-date {
  color: red;
  font-size: 1.0rem;  
}

.note-btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  color:#f4f4f4;
  text-decoration: none;
  background-color: #0c7b93;
  transition: background 500ms ease;
  font-size:1.2rem;
  font-weight:700;
}

.note-btn:hover {
  background-color: #f4f4f4;
  color: #0c7b93;
}