@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background-color: #eee;
  height: auto;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
  color: #232931;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  /* opacity: 0.4; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main,
footer {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}
